{
  "extends": "marine/prettier/node",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "ignorePatterns": ["**/dist/*"],
  "env": {
    "jest": true
  },
  "rules": {
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2, { "SwitchCase": 1 }],
    "eol-last": "error",
    "quotes": ["error", "single"],
    "semi": "off",
    "@typescript-eslint/semi": "error",
    "@typescript-eslint/member-delimiter-style": "error",
    "@typescript-eslint/no-extraneous-class": "off"
  }
}